<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzp.dubbo.one.model.mapper.ItemInfoMapper">

    <select id="getItemInfoById" resultType="com.lzp.dubbo.one.model.entity.ItemInfo" >
        select
                id as id,
                code as code,
                name as name,
                price as price,
                is_active as isActive,
                create_time as createTime,
                update_time as updateTime
        from item_info
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getItemInfoListByMap" resultType="com.lzp.dubbo.one.model.entity.ItemInfo" parameterType="java.util.Map">
        select
                id as id,
                code as code,
                name as name,
                price as price,
                is_active as isActive,
                create_time as createTime,
                update_time as updateTime
        from item_info
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="code != null and code!=''">
                        and code=#{code}
                    </if>
                    <if test="name != null and name!=''">
                        and name=#{name}
                    </if>
                    <if test="price != null and price!=''">
                        and price=#{price}
                    </if>
                    <if test="isActive != null and isActive!=''">
                        and is_active=#{isActive}
                    </if>
                    <if test="createTime != null and createTime!=''">
                        and create_time=#{createTime}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getItemInfoCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from item_info
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="code != null and code!=''">
                    and code=#{code}
                </if>
                <if test="name != null and name!=''">
                    and name=#{name}
                </if>
                <if test="price != null and price!=''">
                    and price=#{price}
                </if>
                <if test="isActive != null and isActive!=''">
                    and is_active=#{isActive}
                </if>
                <if test="createTime != null and createTime!=''">
                    and create_time=#{createTime}
                </if>
                <if test="updateTime != null and updateTime!=''">
                    and update_time=#{updateTime}
                </if>
        </trim>
    </select>

    <insert id="insertItemInfo" parameterType="com.lzp.dubbo.one.model.entity.ItemInfo">
        insert into item_info(
                        code,
                        name,
                        price,
                        is_active,
                        create_time,
                        update_time)
        values(
                     #{code},
                     #{name},
                     #{price},
                     #{isActive},
                     #{createTime},
                    #{updateTime})
    </insert>

    <update id="updateItemInfo" parameterType="com.lzp.dubbo.one.model.entity.ItemInfo">
        update item_info
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="id != null and id!=''">
                        id=#{id},
                    </if>
                    <if test="code != null and code!=''">
                        code=#{code},
                    </if>
                    <if test="name != null and name!=''">
                        name=#{name},
                    </if>
                    <if test="price != null and price!=''">
                        price=#{price},
                    </if>
                    <if test="isActive != null and isActive!=''">
                        is_active=#{isActive},
                    </if>
                    <if test="createTime != null and createTime!=''">
                        create_time=#{createTime},
                    </if>
                    <if test="updateTime != null and updateTime!=''">
                        update_time=#{updateTime}
                    </if>
        </trim>
    </update>

    <delete id="deleteItemInfoById" parameterType="Long">
        delete from item_info where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.lzp.dubbo.one.model.entity.ItemInfo">
        SELECT *
        FROM item_info
        WHERE is_active = 1
        ORDER BY create_time DESC
    </select>
</mapper>